/* COLORES */
/* 
    Baby white = #FEFEFA
    Dabys grey = #555555
    Jade green = #00A86B
*/

body {
    margin: 1%;
    background-color: #FEFEFA;
}

#balance-global {
    text-align: end;
    margin-right: 2vw;
}

#tabla {
    margin: 1%;
}

.grafica {
    width: 75%;
}

.tarjeta {
    width: 50%;
    margin: 1% 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

